.nav-link:hover{
    border-radius: 30%;
    background-color: rgb(140, 177, 209);
}
.active{
    color: brown;
}
marquee{
    margin: 3px;
    background-color: rgb(225, 132, 20);
}
fieldset{
    margin: 5px;
    border: 2px solid;
    padding: 5px;
}
h5{
    color: rgb(73, 26, 181);
}
.card-title:hover{
    background-color: bisque;
   color: rgb(129, 16, 110);
}
.pro{
    text-shadow: 3px 2px 6px blue;
}
.social{
    margin: 3px;
}
footer{
    background-color: antiquewhite;
    margin: 5px;
    padding: 3px;
}
video{
    padding: 5px;
    height: 50vh;
    min-height: 680px;
    max-width: 1920px;
    max-height: 1260px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container1{
    background-color: black;
}